.screen2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top2 {
    display: flex;
    align-items: center;
    height: 6rem;
    margin: 4.2rem auto 5.1rem auto;
    width: 25.5rem;
}

.top2 img {
    width: 6rem;
    height: 6rem;
    margin-right: 1.5rem;
}

.top2 h1 {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.5rem;
    letter-spacing: -0.012rem;

    color: #ffffff;
}

.body,
.body2 {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

.body {
    margin: 0px auto 7.5rem auto;
}

.body,
.body2 p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.quizz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    height: 6.5rem;
    padding: 1.5rem;

    background: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.quizz img {
    cursor: pointer;
}

.finish {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    width: 100%;
    height: 7rem;

    margin: 10.9rem auto 0rem auto;
    background: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    position: fixed;
    bottom: 0;
    left: 0;
}

.got-quests {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 17rem;
    padding: 1rem;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    margin-top: 8px;

    position: fixed;
    bottom: 0;
    left: 0;
}

.got-quests p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    width: 222px;
    height: 44px;
}

.got {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 13rem;
    height: 3rem;
}

.answered {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    height: 3rem;
    width: 100%;
}

.hidden {
    display: none;
}

.answered img {
    margin: 2.5px;
}

.reply-task {
    width: 29.9rem;
    height: 13.1rem;
    background-color: #ffffd4;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.reply-task img {
    align-self: flex-end;
}

.quests-reply {
    width: 27.5rem;
    height: 4rem;
    background-color: #ffffd4;
    display: flex;
    justify-content: space-between;
}

.not,
.correct,
.remember {
    height: 3.8rem;
    width: 8.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.not {
    background-color: red;
}

.remember {
    background-color: #ff922e;
}

.correct {
    background-color: #2fbe34;
}

.finish-quest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.p-decoration,
.p-correct,
.p-remmember {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.p-decoration {
    color: #ff3030;
}

.p-correct {
    color: #2fbe34;
}

.p-remmember {
    color: #ff922e;
}
